@import url(https://fonts.googleapis.com/css?family=Raleway:400,200);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import "compass/css3";
* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif,verdana;
  color:#257a9b;
}
body{
 
  background-position: cover;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.overlay {
  z-index: -1;
  opacity: 0.5;
  background-color: #cee6ef;
  color:#257a9b;
  height: 100%;
  width: 50%;
  position: fixed;
  top: 0;
  left: 0;
}

.leftcontent {
  z-index: 0;
  height: calc(100% - 120px);
  width: 45%;
  margin-top: 10px;
  margin-left: 60px;
  position: fixed;
  top: 050px;
  left: 3px;
  overflow-y:scroll;
}

.ltitle {
  color: #0a3f93;
  font-size: 40px;
  font-weight:bold;
}

.lcontent {
  color: #0a3f93;
  font-size: 18px;
  font-weight: 200;
}

.sidebar {
  background-color: #fff;
  width: 350px;
  height: 100%;
  position: fixed;
  top: 0;
  left:50%;
  z-index: +1;
  padding-top: 60px;
  margin-top:8%;
}

.rtitle {
  color: #5babbf;
  font-size: 40px;
  font-weight: bold;
  padding-left: 40px;
  margin-left:auto;
}

.textinput {
  margin-left: 35px;
  height: 40px;
  border-width: 0px;
  border-style: solid;
  border-color: #bfd8df;
  border-left-width: 5px;
  background-color: #eee;
  width: 270px;
  padding-left: 10px;
  outline: 0;
}

.textinput:focus {
  background-color: #ecf9fc;
}
.submit:hover{
  background-color: #5babbf;
  color:#fff;
}
.submit {
  background-color: #1e90ff;
  height: 80px;
  width: 80px;
  border-style: solid;
  border-width: 0;
  border-radius: 70%;
  position: relative;
  left:250px;
  top:60px;
  color: #fff;
  outline: 5px;
  cursor: hand;
}
.signup{
  background-color: #1e90ff;
  height: 80px;
  width: 80px;
  border-style: solid;
  border-width: 0;
  border-radius: 70%;
  position: absolute;
  left:250px;
  top:340px;
  color: #fff;
  outline: 5px;
  cursor: hand;
}
.signup:hover{
  background-color: #5babbf;
  color:#fff;
}
.navbar{
  background-color:#073249;
  z-index:+1;
  border-bottom-right-radius:3px;
  display:block;
  position:fixed;
  top:0px;
  left:0px;
  height:8%;
  width:100%;
  padding-left: 15px;
}
.navtext{
  text-decoration:none;
  font-size:28px;
  color:white;
}
.navtext:hover{
  transform: scale(1.5);
  font-weight: bold;
  filter: brightness(150%);
}
.dropdown{
  position:fixed;
  z-index:+5;
  right:10px;
  top:5px;
  color:white;
  font-size: 28px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.ltext{
  display:block;
  align-content: left;
  margin-right:200px;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}


::-webkit-scrollbar-thumb {
  background:#073249; 
  border-radius:15px;
  width:35px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(175, 225, 240); 
}
.notice{
  border-style:outset;
  border-color: #073249;
  width: 85%;
  margin-right:0em auto;
  background-color:#bfd8df;
  display:block;
  position:absolute;
  top:100px;
  left:25px;
  padding:7px;
  padding-left:30px;
}
.noticeip{
  margin-left: auto;
  height: 400px;
  border-width: 0;
  border-style: solid;
  border-color: #bfd8df;
  border-left-width: 5px;
  background-color: #eee;
  width:100%;
  padding-left: 10px;
  outline: 0px;
  overflow-y:scroll;
  text-align: center;
  word-wrap:normal;
  

}
.noticeip:focus{
  background-color: #ecf9fc;
  width:95%;
  color:#257a9b;
  border-style:inset;
  border-color:#073249;
}



* {
  box-sizing: border-box;
}

.wysiwyg-editor {
  display: block;
  width: 90%;
  margin: 100px auto 0;
  overflow:scroll;
 
}

.wysiwyg-controls {
  display: block;
  width: 100%;
  height: 20px;
  border: 1px solid $border-color;
  border-bottom : none;
  border-radius: 3px 3px 0 0;
  background-color:#fff;

  
  a {
    display: inline-block;
    font-size: 60;
    width: 35px;
    height: 35px;
    vertical-align: top;
    line-height: 38px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    color: $controls-color;
  }
  [data-role="bold"] {
    font-weight: bold;
  }
  [data-role="italic"] {
    font-style: italic;
  }
  [data-role="underline"] {
    text-decoration: underline;
  }
}

[class^="menu"] {
  position: relative;
  top: 48%;
  
  display: block;
  width: 65%;
  height: 2px;
  margin: 0 auto;
  background: $controls-color;
  
  &:before {
    @extend [class^="menu"];
    content: '';
    top: -5px;
    width: 80%;
  }
  &:after {
    @extend [class^="menu"];
    content: '';
    top: 3px;
    width: 80%;
  }
}
.menu-left {
  &:before, &:after {
    margin-right: 4px;
  }
}
.menu-right {
  &:before, &:after {
    margin-left: 4px;
  }
}

.wysiwyg-content {
  max-width: 100%;
  width: 100%;
  height: auto;
  padding: 12px;
  resize: both;
  overflow: auto;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  border: 1px solid $border-color;
  border-radius: 0 0 7px 7px;
  background: #F2F4F6;
  overflow:scroll;
}